@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.our-apps-menu {
  box-shadow: 0px 106.29px 503.27px 0px rgba(0, 0, 0, 0.08);
}
.hover-text-button:hover span:nth-child(1) {
  transform: translateY(-20px);
}
.hover-text-button:hover span:nth-child(2) {
  transform: translateY(0px);
}
body::-webkit-scrollbar {
  display: none;
}

.table-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.table-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9e6eb;
  border-radius: 10px;
}
